<html>
<head>
	<title>Road Incident Detector</title>
	{% load static %}
	<link rel="stylesheet" href="{% static "accidentDetector/style.css" %}">
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
	<div class="center-container">
		<form id="tweet-form" class="tweet-form">
			<div class="parameter">Tweet: </div>
			<textarea name="message" rows="10" cols="50" class="tweet-textarea" placeholder="Enter tweet here .."></textarea>
			<input type="submit" class="tweet-submit">
		</form>
		<div class="content">
			<div class="content-title">
				[Incident Detected | No Incident]
			</div>
			<div class="tweet-description">
				Tweet goes here
			</div>
			<div class="incident-description">
				Incident detected in ___
			</div>
		</div>
		
	</div>
</body>
</html>
